/* canvas-scrollbar-fix: Remove browser's default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
}

.hidden {
    display: none !important;
}

#crosshair {
    /* Set 30x30 */
    width: 30px;
    height: auto;

    /* Stay di tengah layar */
    position:fixed;
    left: 50%;
    top:  50%;
    margin-left: -15px;
    margin-top:  -15px;
}

#game-main-menu {
    /* Set 30x30 */
    width: 300px;
    height: 400px;

    /* Stay di tengah layar */
    position:fixed;
    left: 50%;
    top:  50%;
    margin-left: -150px;
    margin-top:  -200px;

    font: 300 1em "Fira Sans", sans-serif;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-main-menu #game-logo {
    width: 200px;
    height: auto;

    margin: 50px auto;
}

.menu-button {
    cursor: pointer;
}

#game-main-menu .menu-button {
    width: 150px;
}