/* canvas-scrollbar-fix: Remove browser's default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
}

.hidden {
    display: none !important;
}

#crosshair {
    /* Set 30x30 */
    width: 30px;
    height: auto;

    /* Stay di tengah layar */
    position:fixed;
    left: 50%;
    top:  50%;
    margin-left: -15px;
    margin-top:  -15px;
}

#game-main-menu {
    /* Set 30x30 */
    width: 300px;
    height: 400px;

    /* Stay di tengah layar */
    position:fixed;
    left: 50%;
    top:  50%;
    margin-left: -150px;
    margin-top:  -200px;

    font: 300 1em "Fira Sans", sans-serif;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-main-menu #game-logo {
    width: 200px;
    height: auto;

    margin: 50px auto;
}

.menu-button {
    cursor: pointer;
}

#game-main-menu .menu-button {
    width: 150px;
}

#hud-top-item-choose {
    width: 350px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

    /* Stay di tengah bawah layar */
    position:fixed;
    left: 50%;
    bottom:  0;
    margin-left: -175px;

    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

#hud-top-item-choose .item {
    width: 30px;
    height: auto;

    padding: 5px;
}

#hud-top-item-choose .selected {
   background-color: gray;
}

#game-choose-top-item {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    /* Stay di tengah bawah layar */
    position:fixed;
    left: 50%;
    top:  50%;
    margin-left: -250px;
    margin-top: -250px;

    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hud-top-item-choosen {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;

    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

#game-choose-top-item .item {
    width: 30px;
    height: 30px;

    padding: 5px;
}

#game-choose-top-item .selected {
   background-color: gray;
}

#game-choose-top-item #block-gallery {
    width: 90%;
    height: 300px;  
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

#block-gallery {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}